html, body{
	/*height: 100%;
	margin: 0;*/
	background-color: black;
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-moz-text-size-adjust: none;
}

body{
	margin: 32px;
}

h1, p{
	color: white;
	text-align: center;
}

a{
	color: rgb(135, 206, 250);
}

canvas{
	width: 99.99%;
	height: 99.99%;
}

#board, .bton{
	color: white;
	font-family: monospace;
	white-space: pre;
	text-align: center;
}

.bton{
	background-color: black;
	border-color: white;
}

/* iPhone, portrait & landscape. */
@media all and (max-device-width: 480px) {
	html,body { -webkit-text-size-adjust:none; }
}
/* iPad, portrait & landscape. */
@media all and (min-device-width: 768px) and (max-device-width: 1024px) {
	html,body { -webkit-text-size-adjust:none; }
}
